imap jj <Esc>
imap JJ <Esc>
imap оо <Esc>
nmap vv ggVG
nmap gc :close<cr>
set ignorecase
set smartcase
set hlsearch
set showmode
set incsearch
set wrapscan
set nonumber
" set relativenumber
set surround
nmap ,, :w<cr>
nnoremap <space> :
nnoremap <C-l> :nohlsearch<CR>
set clipboard=unnamed, unnamedplus
set visualbell
set nonumber
inoremap <C-f> <Right>
inoremap <C-b> <Left>
inoremap <A-f> <S-Right>
inoremap <A-b> <S-Left>
inoremap II <Esc>I
inoremap AA <Esc>A
nmap dJ dG
nmap dK dgg
nmap <M-;> A;<Esc>
imap <M-;> <End>;<Esc>

" Git
map ,Gf :action Git.Fetch<CR>
map ,Gpl :action Git.Pull<CR>
map ,Gpu :action Vcs.Push<CR>
map ,Gm :action Git.Merge<CR>
map ,Gd :action Compare.SameVersion<CR>
map ,Gc :action CheckinProject<CR>
map ,Gst :action Git.Stash<CR>
map ,Gust :action Git.Unstash<CR>
map ,Grb :action Git.Rebase<CR>
map ,Gre :action Git.Reset<CR>
map ,Gn :action Git.CreateNewBranch<CR><Esc>
map ,GR :action Git.Configure.Remotes<CR>
map ,GB :action Git.Branches<CR><Esc>
map ,Gl :action Vcs.Show.Log<CR>

" Refactorings
map ,ri :action Inline<CR>
map ,rr :action RenameElement<CR>
map ,rv :action IntroduceVariable<CR>
map ,rm :action Move<CR>
map ,ro :action OptimizeImports<CR>

" Goto
map ,ga :action GotoAction<CR>
map ,gf :action GotoFile<CR>
map ,gs :action GotoSymbol<CR>
map ,gu :action FindUsages<CR>

map ,pi :action WelcomeScreen.Plugins<CR>
map ,pu :action CheckForUpdate<CR>

" StringManipulation
map crs :action StringManipulation.ToSnakeCaseOrCamelCase<CR>
map crp :action StringManipulation.ToPascalCaseOrCamelCase<CR>
map crh :action StringManipulation.ToHyphenCaseOrCamelCase<CR>
map crt :action StringManipulation.SwitchStyleAction<CR>
