imap jj <Esc>
imap JJ <Esc>
imap оо <Esc>
nmap vv ggVG
" nmap gc :close<cr>
set ignorecase
set smartcase
set hlsearch
set showmode
set incsearch
set wrapscan
set nonumber
" set relativenumber
set surround
nmap ,, :w<cr>
nnoremap <space> :
nnoremap <C-l> :nohlsearch<CR>
set clipboard=unnamed, unnamedplus
set visualbell
set nonumber
inoremap <C-f> <Right>
inoremap <C-b> <Left>
inoremap <A-f> <S-Right>
inoremap <A-b> <S-Left>
inoremap II <Esc>I
inoremap AA <Esc>A
nmap dJ dG
nmap dK dgg
nmap <M-;> A;<Esc>
imap <M-;> <End>;<Esc>

" Git
map ,gf :action Git.Fetch<CR>
map ,gpl :action Git.Pull<CR>
map ,gpu :action Vcs.Push<CR>
map ,gm :action Git.Merge<CR>
map ,gd :action Compare.SameVersion<CR>
map ,gc :action CheckinProject<CR>
map ,gst :action Git.Stash<CR>
map ,gust :action Git.Unstash<CR>
map ,grb :action Git.Rebase<CR>
map ,gre :action Git.Reset<CR>
map ,grm :action Git.Configure.Remotes<CR>
map ,gn :action Git.CreateNewBranch<CR><Esc>
map ,gb :action Git.Branches<CR><Esc>
map ,gl :action Vcs.Show.Log<CR>
map ,ga :action Git.Add<CR>

" Refactorings
map ,ri :action Inline<CR>
map ,rr :action RenameElement<CR>
map ,rv :action IntroduceVariable<CR>
map ,rm :action Move<CR>
map ,ro :action OptimizeImports<CR>
map ,rs :action SurroundWith<CR>
map ,re :action SurroundWithEmmet<CR>

" Goto
map ,fa :action GotoAction<CR>
map ,ff :action GotoFile<CR>
map ,fs :action GotoSymbol<CR>
map ,fu :action FindUsages<CR>
map ,fp :action ManageRecentProjects<CR>

" Plugins
map ,pi :action WelcomeScreen.Plugins<CR>
map ,pu :action CheckForUpdate<CR>

" StringManipulation
map crs :action StringManipulation.ToSnakeCaseOrCamelCase<CR>
map crp :action StringManipulation.ToPascalCaseOrCamelCase<CR>
map crh :action StringManipulation.ToHyphenCaseOrCamelCase<CR>
map crt :action StringManipulation.SwitchStyleAction<CR>

" Close
map ,cp :action CloseProject<CR>
