###########################################################
# Readline config file
###########################################################

set editing-mode vi
set completion-ignore-case on
set completion-map-case on
set visible-stats on
set colored-stats on
set mark-symlinked-directories on
set skip-completed-text on
set show-all-if-ambiguous on
set show-all-if-unmodified off
set menu-complete-display-prefix off
# replace matches inline on <tab>
Tab: menu-complete
# show matches on <shift-tab>
"\e[Z": complete
set completion-query-items -1

"\e[A": history-search-backward
"\e[B": history-search-forward
