packages: [
  "angularjs-styleguide-snippets"
  "atom-focus-mode"
  "atom-monokai"
  "center-line"
  "ex-mode"
  "git-plus"
  "git-status"
  "highlight-line"
  "lazy-motion"
  "merge-conflicts"
  "minimap"
  "monokai-blackboard"
  "monokai-seti"
  "monokai-shade"
  "monokai-slate"
  "nerd-treeview"
  "package-list"
  "package-sync"
  "relative-numbers"
  "seti-ui"
  "smalls"
  "solarized-seti-ui"
  "vim-mode"
  "vim-mode-plus"
  "vim-mode-zz"
  "vim-surround"
]
